<div class="container">
    <div>
    <h2>Modifier un Stagiaire :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Stagiaire</label>
        <input readonly type="text" [(ngModel)]="currentStagiaire.idStagiaire" name="idStagiaire" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom de stagiaire</label>
        <input type="text" [(ngModel)]= "currentStagiaire.nom" name="nom" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Prénom de stagiaire</label>
        <input type="text" [(ngModel)]= "currentStagiaire.prenom" name="prenom" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >CIN</label>
        <input type="text" [(ngModel)]= "currentStagiaire.cin" name="cin" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Société</label>
        <input type="text" [(ngModel)]= "currentStagiaire.societe" name="societe" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Type de stage</label>
        <input type="text" [(ngModel)]= "currentStagiaire.typeStage" name="typeStage" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date de début</label>
        <input type="date" [ngModel]="currentStagiaire.dateDeb | date: 'yyyy-MM-dd'" (ngModelChange)=" currentStagiaire.dateDeb= $event"  name="dateDeb" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date de fin</label>
        <input type="date" [ngModel]="currentStagiaire.dateFin | date: 'yyyy-MM-dd'" (ngModelChange)=" currentStagiaire.dateFin= $event" name="dateFin" class="form-control">
        </div>

        <div class="mt-2">
        <button type="submit" (click)="updateStagiaire()"  class="btn btn-success">Ajouter</button>
        </div>
        </form>    
        </div>
    
